<html>
  <form action="/host/hostcharge/<%=hostid%>" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_zfkp4WJISaV5muXwstM7SBJ700FyaWrwpx"
      data-amount="1500"
      data-name="Payment Portal"
      data-description="Event Joining"
      data-image="http://www.themusclecarshop.ca/wp-content/uploads/2016/06/Finance-Usd-icon.png"
      data-locale="auto"
      data-currency="usd">
    </script>
  </form>
  </html>