<!DOCTYPE html>
<html lang="en">
<head>
	<title>MatchIT</title>
	<link rel="icon" href="https://cdn.pixabay.com/photo/2012/04/24/18/11/basketball-40742_960_720.png" type="image/icon type">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>
		
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	  <div class="navbar-header">
			<a class="navbar-brand" href="/host/home" style="font-family:Kaushan Script; font-size:30px;"><b>MatchIT</b></a>
		</div>
	  <ul class="nav navbar-nav">
	  </ul>
	</div>
  </nav>

  
  
 
  
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
					<form class="login100-form validate-form" method="post" action="/host/addevent/<%= host._id %>">
					<span class="login100-form-title p-b-70">
						Add Event
					</br></br>
					</span>
					
					<!-- <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter sport">
            <div class="dropdown">
                <button id="dLabel" class="dropdown-select input100" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Sport
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel" style="width: 390px;">
                  <li>&nbsp&nbsp  Football</li>
                  <li>&nbsp&nbsp  Cricket</li>
                  <li>&nbsp&nbsp  Hockey</li>
                  <li>&nbsp&nbsp  Basketball</li>
                  <li>&nbsp&nbsp  Badminton</li>
                  <li>&nbsp&nbsp  Tennis</li>
                  <li>&nbsp&nbsp  Volleyball</li>
                  <li>&nbsp&nbsp  Kabadi</li>
                  <li>&nbsp&nbsp  Table Tennis</li>
                  <li>&nbsp&nbsp  Rugby</li>
                </ul>
              </div>
          </div> -->
                    
                    <!-- <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter location">
                        <div class="dropdown">
                            <button id="dLabel" class="dropdown-select input100" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Select Location
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel" style="width: 390px;">
                              <li>&nbsp&nbsp  Marathahali</li>
                              <li>&nbsp&nbsp  BTM Layout</li>
                              <li>&nbsp&nbsp  HSR Layout</li>
                              <li>&nbsp&nbsp  Domlur</li>
                              <li>&nbsp&nbsp  Jayanagar</li>
                              <li>&nbsp&nbsp  Kormangala</li>
                              <li>&nbsp&nbsp  Whitefield</li>
                              
                            </ul>
                          </div>
                          
                    </div>
					   -->
					   

					   <div class="wrap-input100 validate-input m-b-50" data-validate="Enter sport">
						<!-- <input class="input100" type="text" name="sport">
						<span class="focus-input100" data-placeholder="Sport"></span> -->
						<select class="input100" type="text" name="sport" >
								<option value="">Sport</option>
								<option value="Football">Football</option>
								<option value="Cricket">Cricket</option>
								<option value="Volleyball">Volleyball</option>
								<option value="Basketball">Basketball</option>
								<option value="Badminton">Badminton</option>
								<option value="Tennis">Tennis</option>
								<option value="Kabaddi">Kabaddi</option>
								<option value="Table Tennis">Table Tennis</option>
								<option value="Rugby">Rugby</option>
								<option value="Hockey">Hockey</option>
							  </select>
					</div>
					



					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter sport">
							<!-- <input class="input100" type="text" name="sport">
							<span class="focus-input100" data-placeholder="Sport"></span> -->
							<select class="input100" type="text" name="place" >
									<option value="">Place</option>
									<option value="Marathahali">Marathahali</option>
									<option value="BTM Layout">BTM Layout</option>
									<option value="Domlur">Domlur</option>
									<option value="Jayanagar">Jayanagar</option>
									<option value="Kormangala">Kormangala</option>
									<option value="Whitefield">Whitefield</option>
									<option value="HSR Layout">HSR Layout</option>
									
								  </select>
						</div>

<!-- 
					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter place">
						<input class="input100" type="text" name="place">
						<span class="focus-input100" data-placeholder="Place"></span>
                    </div> -->


                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter phone no">
				
						<input class="input100" type="datetime-local" name="date">
						<span class="focus-input100" data-placeholder="Date and Time"></span>

						
					</div>
					
					
                   
                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter sport">
						<input class="input100" type="number" name="capacity">
						<span class="focus-input100" data-placeholder="Capacity"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" value="Submit">
							ADD EVENT
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>