

<!DOCTYPE>
<html>
    <body>  
            <form action="/user/review/<%=event._id%>" method="POST">
                Name:
                <input type="text" name="name" value="user.name">
                <br>
                Review:
                <input type="text" name="review" value="Review">
                <br><br>
                <button  type="submit" value="Submit">
                        POST REVIEW
                    </button>
              </form> 
    </body>
</html>