<!-- <section class="py-5">
    <h1 class="display-3">ThankYou</h1>
    <p class="lead">Your participation is confirmed.</p>
    <a href="/user/updateJoinRequest/<%=eventid%>">Go back Home</a>
</section> -->
<html>
    <head>
      <title>MatchIT</title>
      <link rel="icon" href="https://cdn.pixabay.com/photo/2012/04/24/18/11/basketball-40742_960_720.png" type="image/icon type">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
            
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
   <center> <body>
<div class="jumbotron text-xs-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Your participation is confirmed.</strong> </p>
        <hr>

        <p>
          Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
                <a href="/user/updateJoinRequest/<%=eventid%>">Go back Home</a>
        </p>
      </div>
    </body>
  </center>
      </html>